<template>
  <v-container class="mt-5">
    <h1>Article</h1>
    <div>{{ current }}</div>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Article",
  data() {
    return {
      article: null
    }
  },
  computed: {
    ...mapGetters('articles', [
      'current'
    ])
  },
  methods: {
    ...mapActions('articles', [
      'fetchCurrent'
    ]),
    async fetch() {
      const slug = this.$route.params.slug
      return await this.fetchCurrent(slug)
    }
  },
  async created() {
    await this.fetch()
  }
};
</script>
