<template>
  <McvFeed @onFetch="fetch($event)" />
</template>

<script>
import McvFeed from "@/components/Feed";
import { mapActions } from "vuex";
import { limit } from "@/constants";
export default {
  name: "McvGlobalFeed",
  components: {
    McvFeed,
  },
  methods: {
    ...mapActions("articles", ["fetchGlobal"]),
    async fetch(offset) {
      return await this.fetchGlobal({ 
        limit, 
        offset: offset 
      });
    },
  },
  async mounted() {
    await this.fetch()
  },
};
</script>