<template>
  <v-container class="mt-5">
    <McvBanner />
    <v-row class="mt-5">
      <v-col cols="9">
        <router-view :key="$route.path"></router-view>
      </v-col>
      <v-col cols="3">
        <McvTags />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import McvBanner from "@/components/Banner";
import McvTags from "@/components/Tags";

export default {
  name: "Home",
  components: {
    McvBanner,
    McvTags,
  },
};
</script>
