<template>
  <v-container class="mt-5">
    <v-row justify="center">
      <v-col cols="6">
        <v-form
          @submit.prevent="onSubmit"
          ref="form"
          lazy-validation
        >
          <v-text-field
            v-model="article.title"
            label="Article Title"
            required
          ></v-text-field>

          <v-text-field
            v-model="article.description"
            label="What's this article about?"
            required
          ></v-text-field>

          <v-textarea
            v-model="article.body"
            label="Write your article (in markdown)"
          ></v-textarea>

          <!-- <v-text-field
            v-model="article.tagList"
            label="Enter tags"
            required
          ></v-text-field> -->

          <v-btn
            class="mt-4"
            type="submit"
          >
            submit
        </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: "McvNewArticle",
  data() {
    return {
      article: {
        title: 'My second article',
        description: 'Lets kek!',
        body: 'Kek kek kek!',
        tagList: []
      }
    }
  },
  methods: {
    ...mapActions('articles', [
      'add'
    ]),
    async onSubmit() {
      const data = await this.add(this.article)
      console.log(data);
    }
  }
};
</script>
