<template>
  <div class="auth-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 col-xd-12 offset-md-3">
          <h1 class="text-xs-center">Sign Up</h1>
          <p class="text-xd-center">
            <router-link :to="{ name: 'login' }">
              Need to sign in?
            </router-link>
          </p>
          <ul v-if="errors" class="error-messages text-left">
            <li v-for="error in errors" :key="error">
              {{ error }}
            </li>
          </ul>
          <form @submit.prevent="onSubmit">
            <fieldset class="form-group">
              <input
                v-model="user.username"
                type="text"
                class="form-control form-control-lg"
                placeholder="Username"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                v-model="user.email"
                type="email"
                class="form-control form-control-lg"
                placeholder="Email"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                v-model="user.password"
                type="password"
                class="form-control form-control-lg"
                placeholder="Password"
              />
            </fieldset>
            <button
              :disabled="isSubmiting"
              class="btn btn-lg btn-primary pull-xs-right"
            >
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
export default {
  name: "McvRegister",
  data() {
    return {
      user: {
        username: "",
        email: "",
        password: ""
      },
      currentUser: null
    };
  },
  computed: {
    ...mapGetters("auth", ["isSubmiting", "isLoggedIn", "errors"])
  },
  methods: {
    ...mapActions("auth", ["register"]),
    ...mapMutations("auth", ["clearErrors"]),
    async onSubmit() {
      await this.register(this.user);
      if (this.isLoggedIn) {
        this.$router.push({ name: "Home" });
        this.user.username = this.user.email = this.user.password = "";
      }
    }
  },
  created() {
    this.clearErrors();
  }
};
</script>
