<template>
  <McvFeed @onFetch="fetch($event)" />
</template>

<script>
import McvFeed from "@/components/Feed";
import { mapActions, mapMutations } from "vuex";
import { limit } from "@/constants";
export default {
  name: "McvGlobalFeed",
  data() {
    return {
      tag: null
    }
  },
  components: {
    McvFeed,
  },
  methods: {
    ...mapActions("articles", ["fetchByTag"]),
    ...mapMutations("articles", ["addRoute"]), 
    async fetch(offset) {
      return await this.fetchByTag({ 
        limit, 
        offset: offset, 
        tag: this.tag 
      });
    },
  },
  async created() {
    this.tag = this.$route.params.tag
    await this.fetch();
  }
};
</script>