<template>
  <div class="user">
    <h1>User</h1>
    <h2>{{ user.email }}</h2>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "McvUser",
  computed: {
    ...mapGetters("auth", {
      user: "currentUser",
    }),
  },
};
</script>
