<template>
  <McvFeed @onFetch="fetch($event)" />
</template>

<script>
import McvFeed from "@/components/Feed";
import { mapActions } from "vuex";
import { limit } from "@/constants";
export default {
  name: "McvGlobalFeed",
  data() {
    return {
      offset: 0
    }
  },
  components: {
    McvFeed,
  },
  methods: {
    ...mapActions("articles", ["fetchYours"]),
    async fetch(offset) {
      return await this.fetchYours({ 
        limit, 
        offset: offset 
      });
    },
  },
  async mounted() {
    await this.fetch();
  },
};
</script>