<template>
  <v-banner dark rounded="lg" color="green darken-2" >
    <div class="py-5">
      <h2>Conduit</h2>
      <h3>A place to share your knowledge.</h3>
    </div>
  </v-banner>
</template>

<script>
export default {
  name: "McvBanner",
};
</script>
