<template>
  <div class="articles">
    <McvLoading v-if="isLoading" />
    <template v-else-if="articles">
      <div class="text-center">
        <v-pagination
          color="green darken-2"
          v-model="page"
          :length="pagesCount"
          :total-visible="7"
          @input="selectPage()"
        >
        </v-pagination>
      </div>

      <McvToggleFeed />

      <v-card v-for="article in articles" :key="article.id" class="mt-5">
        <v-card-text>
          <v-row no-gutters>
            <v-col cols="auto" class="d-flex justify-center align-center pr-5">
              <v-avatar>
                <img :src="article.author.image" alt="" />
              </v-avatar>
            </v-col>
            <v-col>
              <h5>{{ article.author.username }}</h5>
              <div>{{ article.createdAt }}</div>
            </v-col>
          </v-row>
        </v-card-text>

        <router-link :to="{ name: 'Article', params: { slug: article.slug } }">
          <v-card-title class="headline">{{ article.title }}</v-card-title>
          <v-card-subtitle>{{ article.description }}</v-card-subtitle>
        </router-link>

        <v-card-actions>
          <v-btn text :to="{ name: 'Article', params: { slug: article.slug } }"
            >Read more</v-btn
          >
        </v-card-actions>
      </v-card>

      <div class="text-center mt-5">
        <v-pagination
          color="green darken-2"
          v-model="page"
          :length="pagesCount"
          :total-visible="7"
          @input="selectPage()"
        >
        </v-pagination>
      </div>
    </template>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { limit } from "@/constants";
import { ucFirst } from "@/helpers/ucFirst";
import McvLoading from "@/components/Loading";
import McvToggleFeed from "@/components/ToggleFeed";
export default {
  name: "McvFeed",
  components: {
    McvLoading,
    McvToggleFeed,
  },
  data() {
    return {
      page: 1,
    };
  },
  computed: {
    ...mapGetters("articles", [
      "articles",
      "articlesCount",
      "errors",
      "isLoading",
    ]),
    ...mapGetters("auth", ["isLoggedIn"]),
    offset() {
      return this.page * limit - limit;
    },
    queryPage() {
      return Number(this.$route.query.page) || 1;
    },
    pagesCount() {
      return Math.ceil(this.articlesCount / limit);
    },
  },
  methods: {
    selectPage() {
      if (this.page !== this.queryPage) {
        this.$emit("onFetch", this.offset);
        this.$router.push({
          name: ucFirst(this.feed),
          query: { page: this.page },
        });
      }
    },
  },
  created() {
    this.page = this.queryPage;
    this.$emit("onFetch", this.offset);
  },
};
</script>