<template>
  <v-row no-gutters align="center" justify="center">
    <v-progress-circular
      :size="size"
      :width="width"
      :color="color"
      indeterminate
    >
    </v-progress-circular>
  </v-row>
</template>

<script>
export default {
  name: 'McvLoading',
  props: {
    color: {
      type: String,
      default: 'green darken-2'
    },
    size: {
      type: Number,
      default: 70
    },
    width: {
      type: Number,
      default: 7
    }
  }
}
</script>