<template>
  <v-app-bar app>
    <v-toolbar-title>
      <v-btn text :to="{ name: 'GlobalFeed' }" tag="router-link" active-class="no-active"> Conduit </v-btn>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-xs-only">
      <v-btn
        text
        v-for="(item, i) in filteredNavigation"
        :key="i"
        :to="{ name: item.name }"
        :exact="item.exact"
        :exactPath="item.exactPath"
      >
        <v-icon left dark v-if="item.icon">{{ item.icon }}</v-icon>
        {{ item.text }}
      </v-btn>
      <template v-if="isLoggedIn">
        <v-btn text @click.prevent="onLogout" exact>
          Logout
        </v-btn>
        <v-btn text :to="{ name: 'User' }" exact>
          {{ currentUser.username }}
        </v-btn>
      </template>
    </v-toolbar-items>
  </v-app-bar>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import { localStorageSet } from "@/helpers/localStorage";
export default {
  name: "McvNav",
  computed: {
    ...mapGetters("auth", ["isLoggedIn", "isLoggedOut", "userChecked", "currentUser"]),
    ...mapGetters("navigation", ["filteredNavigation"]),
  },
  methods: {
    ...mapMutations("auth", ["logout"]),
    onLogout() {
      this.logout();
      localStorageSet("authToken", null);
      if (this.$route.path !== "/") {
        this.$router.push("/");
      }
    },
  },
};
</script>

<style lang="scss">

</style>
