<template>
  <v-sheet 
    class="tags pa-5"
    color="green lighten-5"
    rounded="lg"
  >
    <h4>Popular Tags</h4>
    <p v-if="isLoading">
      <McvLoading :size="40" />
    </p>
    <template v-else-if="tags">
      <v-chip 
        v-for="tag in filteredTags" 
        :key="tag" 
        color="green darken-2"
        outlined
        dark
        class="mr-2 my-2 cursor-pointer"
        tag="router-link"
        :to="{ name: 'TagFeed', params: { tag }}"
        exact
      >
        {{ tag }}
      </v-chip>
    </template>
  </v-sheet>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import McvLoading from '@/components/Loading'
export default {
  name: "McvTags",
  components: {
    McvLoading
  },
  methods: {
    ...mapActions('tags', [
      'fetch'
    ]),
    onRoute(tag) {
      this.$router.push({ name: 'TagFeed', params: {
        tag
      }})
    }
  },
  computed: {
    ...mapGetters('tags', [
      'isLoading',
      'tags'
    ]),
    filteredTags () {
      return this.tags.filter(tag => !tag.includes("‌"))
    }
  },
  async created () {
    await this.fetch()
  }
}
</script>