<template>
  <div class="toggle">
    <v-btn
      v-for="(route, i) in filteredRoutes"
      :key="i"
      :to="{ name: route.name }"
      :exact="route.exact"
      class="mr-5"
      text
    >
      {{ route.text }}
    </v-btn>
    <v-btn
      v-if="tag"
      :to="{ name: 'TagFeed' }"
      exact
      text
    >
      #{{ tag }}
    </v-btn>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: "McvToggleFeed",
  data() {
    return {
      tag: null
    }
  },
  computed: {
    ...mapGetters('articles', [
      'filteredRoutes'
    ])
  },
  methods: {
    checkTag() {
      this.$route.params.tag ? this.tag = this.$route.params.tag : null
    }
  },
  created() {
    this.checkTag()
  }
};
</script>