<template>
  <v-app>
    <McvNav />
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import McvNav from "@/components/Nav";

export default {
  name: "App",

  components: {
    McvNav,
  },
};
</script>
